html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*height: 100%;*/
  margin: 0px;
  padding: 0px;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Set the height of the header to 100% of the viewport height */
  height: 100vh;
}

main {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-decoration: none;
  font-size: 12px;
}

#fixed-top-bar {
  position: fixed; /* This is what makes it stick to the top */
  top: 0; /* Set the top position to 0 to place it at the very top */
  left: 0;
  width: 100%; /* Make it 100% wide to fill the screen */
  background-color: transparent; /* Set the background color */
  opacity: 0; /* Hide the bar initially */
  transition: opacity 0.5s ease-in;
  padding: 10px; /* Add some padding to give it some spacing */
  text-align: right; /* Center the text */
  z-index: 999; /* Set a higher z-index so it stays on top of other elements */
}

#fixed-top-bar.active {
      opacity: 1; /* Make the bar visible */
      background-color: black; /* Set the background color to black */
}

nav{
  width: 110%;
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links{
  flex: 1;
  text-align: right;
  position: fixed;
  width: 100%;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
  text-decoration: none;
  font-size: 13px;
  position: relative;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: black;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 350;
  font-style: normal;
}

.roboto-links {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  color: black;
}

.wrapper {
  background-color: white;

  max-width: 50%;
  display: flex;
  flex-direction: row;
  height: 80%;
}

.papers-list {
  background-color: white;

  max-width: 65%;
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-bottom: 2em;
}

.talks-list {
  background-color: white;

  max-width: 65%;
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-bottom: 2em;
}

.talks-list table {
  border-spacing: 1em;
}

.talks-list table tr td {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12pt;
}

/* Set the numbers in papers-list to "[no.]"*/

 .papers-list ol {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
  transform: rotate(180deg); /* Rotate parent element of 180 degrees */
}

 .papers-list ol > li {
  display: block;
  margin-bottom: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12pt;
  margin-left: 1em;
  margin-right: 2em;
  transform: rotate(180deg); /* Rotate the child element of 180 degrees */
}

 .papers-list ol li::before {
  display: inline-block;
  content: "["counter(item) "] ";
  counter-increment: item;
  width: 2em;
  margin-left: -2em;
}

/* Make the items in ol lists bold
ol > li::marker {
  font-weight: bold;
} */

.left, .right {
  background-color: white;

  margin: 5px;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  align-items: center;
  justify-content: center;
  line-height: 1px;
}

.profile-picture {
  border-radius: 50%;
}

.social-links {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

.social-links li {
  display: inline-block;
  margin-right: 8px;
}

.social-links a {
  text-decoration: none;
  padding: 4px;
}

.social-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media(max-width: 1150px){
    header {
      display: flex;
      margin: 0;
      padding: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      float: left;
      position: sticky;
      z-index: 2;
    }

    main {
      margin-top: 16em;
      float: left;
      position: sticky;
      z-index: -1;
      font-size: 12pt;
    }

    nav {
      display: none;
    }

    .nav-links{
      flex: 1;
      text-align: center;
      position: fixed;
      width: 100%;
    }

    .wrapper {
      background-color: white;

      max-width: 80%;
      display: flex;
      flex-direction: column;
      float: left;
    }

    .left, .right {
      background-color: white;

      margin: 5px;
      max-width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      float: left;
    }

    .right {
      font-size: 12pt;
    }  

    .papers-list {
      background-color: white;

      max-width: 80%;
      display: flex;
      flex-direction: column;
      float: left;
    }
}
